.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.startButton {
  padding: 20px;
}

.inputFields {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.inputFields label {
  text-align: left;
  display: block;
}
.inputFields input,
.inputFields textarea,
.inputFields select {
  width: 100%;
  margin: 5px;
  padding: 6px 10px;
  margin: 10px solid;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
}

.Button {
  background: blue;
}
